<header>
    <h1>{{ title }}</h1>
</header>
<nav>
    <ul>
        <li>About</li>
        <li>Now</li>
        <li>Research</li>
        <ul>
            <li>Publications</li>
            <li>Presentations</li>
        </ul>
        <li>Teaching</li>
        <ul>
            <li>Current</li>
            <li>Past</li>
        </ul>
        <li>Service</li>
        <li>Writing</li>
    </ul>
</nav>
