<header>
    <nav>
        <div class="name-header">
            <h1><a href="../">Michael J Healy</a></h1>
            <p>
                Instructor of English |
                <a
                    href="https://www.wku.edu/english/professionalwriting.php"
                    target="_blank"
                    >Professional Writing</a
                >
                |
                <a href="https://www.wku.edu/english/" target="_blank"
                    >Western Kentucky University</a
                >
            </p>
        </div>
        <ul>
            <a href="../about/"><li>About</li></a>
            <a href="../now/"><li>Now</li></a>
            <a href="../cv/"><li>CV</li></a>
            <a href="../research/"><li>Research</li></a>
            <a href="../teaching/"><li>Teaching</li></a>
            <a href="../service/"><li>Service</li></a>
            <a href="../writing/"><li>Writing</li></a>
        </ul>
    </nav>
</header>
